.Form {
    border: none;
    border-bottom: 1px black solid;
  }
  
  .Button {
    border: none;
    width: 24%;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }