.Contact{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
  }

.Contact h1{
  padding-top: 30px;
} 

.Container {
    height: 900px;
    margin: 0 auto;
    padding: 80px 15px 0 15px;
    background-color: #cfced3;
  }

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #212529;
  }

@media (min-width: 600px) {
  .Contact{margin-top: 70px;}}

@media (min-width: 1000px) {
    .Contact{margin-top: 80px;}}