.Footer {
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SocialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SocialLink {
    list-style: none;
}

.SocialLinka {
    text-decoration: none;
    color: #fff;
}

.SocialLinka:hover,
.SocialLinka:focus,
.CreditLink:hover,
.CreditLink:focus {
    color: #555;
}

.Credit {
    text-align: center;
}

.CreditLink {
    text-decoration: none;
    color: #fff;
}