.Footer {
    background-color: #171717;
    /* padding: 1.2em 0; */
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SocialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SocialLink {
    list-style: none;
    /* padding: 0 0.2em;
    margin-bottom: 0.01em; */
}

.SocialLinka {
    text-decoration: none;
    color: #fff;
    /* padding: 0 0.2em; */
}

.SocialLinka:hover,
.SocialLinka:focus,
.CreditLink:hover,
.CreditLink:focus {
    color: #555;
}

.Credit {
    text-align: center;
}

.CreditLink {
    text-decoration: none;
    color: #fff;
}