.Button {
    font-family: 'Readex Pro', sans-serif;
    border-radius: 20px;
    background-color: #2142b2;
    border-color: #2142b2;
    font-weight: 600;
}

.CancelButton {
background-color: white;
border-radius: 20px;
border-color: #2142b2;
color: #2142b2;
}