.Button, .Button:hover {
    font-family: 'Readex Pro', sans-serif;
    border-radius: 20px;
    background-color: #7c449e;
    border-color: #7c449e;
    font-weight: 600;
}

.CancelButton, .CancelButton:hover {
background-color: white;
border-radius: 20px;
border-color: #7c449e;
color: #7c449e;
}