.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
  }
  
  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: #2142b2;
  }

  .Name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NameTitle {
    padding: 10px 0 0 10px;
  }