.Pop {
    border-bottom: 1px solid #212529;
    padding-bottom: 18px;
}

.Pop:last-child{
    border-bottom: none;
 }

.Font {
    font-size: 0.8rem;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .Font {
        font-size: 0.7rem;
        font-weight: 500;
    }

    .Name {
        height: 20px;
    }
  }