.Resource {
    background-color: rgb(248, 248, 248);
    border: none;
    border-radius: 8px;
    margin-bottom: 16px;
    text-align: center;
  }

  .Resource img {
    border-bottom: 0.5px solid black;
  }
  
  .Resource figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
    color: #2142b2;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }

  .Level1,
  .Level2, 
  .Level3,
  .Type1,
  .Type2 {
    color: black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    padding: 0.2rem 0.3rem;
    text-transform: capitalize;
    width: 130px;
    margin: 0 auto;
  }

  .Level1 img,
  .Level2 img , 
  .Level3 img{
    padding-bottom: 1px;
    height: 18px;
  }

  .Level1 {
    background-color: #0ed4d4;
  }

  .Level2 {
    background-color: #ff7f3c;
  }

  .Level3 {
    background-color: #ff2e65;
  }

  .Type1 {
    background-color: lightgreen;
  }

  .Type2 {
    background-color: lightskyblue;
  }

  .Country {
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
    padding: 0.2rem 0.3rem;
    font-weight: 500;
    text-transform: capitalize;
    width: 130px;
    margin: 0 auto;
  }

/* .ResourceProfile {
  display: none;
} */