.ResourcesContainer {
  border-radius: 10px;
}

.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }


  .FilterCon {
    display: flex;
    flex-direction: column;
  }

.Filters {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  border-radius: 12px;
  padding: .3rem .4rem;
  margin-bottom: 5px;
  font-weight: 500;
  border: 1px solid black;
}

.Filters:hover,
.Filters:active {
  background-color: white;
}

.Country {
  margin-top: 5px;
}

.ResourceLayout {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 500px) {
  .ResourceLayout { 
    grid-template-columns: repeat(2, 1fr); 
  }

  .FilterCon {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .Filters {
    margin: 0 auto;
    text-align: center;
    width: 31%;
    border-radius: 12px;
    padding: .3rem .4rem;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media (min-width: 800px) {
  .ResourceLayout { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1000px) {
  .ResourceLayout { grid-template-columns: repeat(4, 1fr); }
}