.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }

.ResourceLayout {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 500px) {
  .ResourceLayout { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
  .ResourceLayout { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1000px) {
  .ResourceLayout { grid-template-columns: repeat(4, 1fr); }
}