.Resource {
    background-color: #F8F8F8;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

  .Resource:hover,
  .Resource:active {
    border: 2px solid black;
  }

  .ResourceImg {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 0.5px solid black;
  }
  
  .Resource figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
    text-shadow: -0.05rem 0 #000, 0 0.05rem  #000, 0.05rem  0 #000, 0 -0.05rem  #000;
  }
  
  .Heart:hover {
    color: #2142b2;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }


  .Level1,
  .Level2, 
  .Level3,
  .Level4,
  .Level5,
  .Type1,
  .Type2 {
    color: black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    padding: 0.2rem 0.3rem;
    text-transform: capitalize;
    width: 130px;
    margin: 0 auto;
    border: 1px solid black;
  }

  .Level1 img,
  .Level2 img , 
  .Level3 img,
  .Level4 img,
  .Level5 img{
    padding-bottom: 1px;
    padding-right: 2px;
    height: 18px;
    border-bottom: none;
  }

  .Level1 {
    background-color: #0ed4d4;
  }

  .Level2 {
    background-color: #ff7f3c;
  }

  .Level3 {
    background-color: #ff2e65;
  }

  .Level4 {
    background-color: #ca37ca;
  }

  .Level5 {
    background-color: #24db36;
  }

  .Type1, .Type2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .Type1 {
    background-color: lightgreen;
  }

  .Type2 {
    background-color: lightskyblue;
  }

  .Country {
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
    padding: 0.2rem 0.3rem;
    font-weight: 500;
    text-transform: capitalize;
    width: 130px;
    margin: 0 auto;
  }