.Slider {
    text-align: center;
    background-color: black;
    padding: 50px 0 50px 0;
    margin: 0 100px;
 }

.Slider h3 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    padding-top: 10px;
}

.Slider img {
    border-radius: 50px;
    height: 213px;
    width: 340.8px;
}

.Slider .Text {
    color: orange;
    text-shadow: 2px 2px black;
}

.Slider .Textb {
    color: black;
    text-shadow: none;
}

.Flag {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
}

.FlagFont {
    font-size: 2.5rem;
    white-space: normal;
}

.FlagLong {
    white-space: normal;
}