.Slider {
    text-align: center;
    background-color: black;
    padding: 20px 0 40px 0;
    margin: 0 200px;
 }

.Slider h3 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    line-height: 0;
}

.Slider img {
    border-radius: 50px;
    height: 213px;
    width: 340.8px;
}

.Slider .Text {
    color: orange;
    text-shadow: 2px 2px black;
}

.Slider .Textb {
    color: black;
    text-shadow: none;
}